// Headings
.headings {
  font-size: clamp(3.6rem, 4vw, 4.8rem);
  font-weight: 900;
  line-height: 1.2;
}

// Margins
.mt {
  &--xs {
    margin-top: 8px;
  }
}

.ml {
  &--xs {
    margin-left: 8px;
  }
}

.mb {
  &--sm {
    margin-bottom: 1.2rem;
  }

  &--base {
    margin-bottom: 1.6rem;
  }

  &--md {
    margin-bottom: 2.4rem;
  }

  &--lg {
    margin-bottom: 3.2rem;
  }
}

.w-50 {
  width: 50%;
}

// Span
.detail {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
