// Header Layout
//  500px above
@media (min-width: 992px) {
  .header {
    &__contents {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__hero {
      grid-column: 2 / 3;

      &.desktop__img {
        display: inline-block;
        opacity: 1;
      }

      &.mobile__img {
        display: none;
        opacity: 0;
      }
    }

    &__text {
      grid-column: 1 / 2;

      p {
        width: 75%;
      }
    }
  }

  .navigation {
    &__icon {
      display: none;

      grid-column: 2 / 3;
      justify-self: end;
      align-self: center;

      font-size: 3.2rem;
    }

    &__list__container {
      display: block !important;
      grid-column: 2 / 3;
    }
  }

  // Skills
  .skills {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__list {
      grid-template-columns: repeat(4, 12rem) !important;
      gap: 3rem 2.4rem;
    }

    &__img {
      height: 100%;
      width: 100%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .reading {
      display: block !important;
    }
  }

  // Carousel
  .carousel {
    position: relative;

    height: 80vh !important;
    margin: 0 auto;
    width: 90%;

    &__container {
      // Relative to the carousel element
      position: relative;
      overflow: hidden;
      transition: transform 250ms ease-in;

      height: 100%;
      margin: 0 auto;
      width: 92.5%;
    }

    &__list {
      // Relative to the carousel__container
      position: relative;
      list-style: none;
      height: 100%;
    }

    &__slide {
      // Stack images on top of each other
      // Absolute to the carousel__list
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    &__img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    // Absolute to the carousel element (left and right)
    &__btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3.2rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      background-color: #c0c0c0;
      color: var(--primaryText);

      cursor: pointer;
      border: none;
      outline: none;

      padding: 1.6rem 0;
      min-height: 14rem;
      min-width: 6rem;

      &--disabled {
        color: rgb(184, 184, 184);
        background-color: #ddd;
      }

      &--left {
        left: -3.2rem;
      }

      &--right {
        right: -3.2rem;
      }
    }

    // Absolute to the carousel__btn
    &__counter {
      position: absolute;
      top: 80%;
      transform: translateY(-80%);

      color: rgb(80, 77, 77);
      font-size: 1.4rem;
    }

    &__nav {
      display: none !important;
    }
  }
}
