// Header Layout
//  500px above
@media (min-width: 992px) {
  .header {
    &__contents {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__hero {
      grid-column: 2 / 3;

      &.desktop__img {
        display: inline-block;
        opacity: 1;
      }

      &.mobile__img {
        display: none;
        opacity: 0;
      }
    }

    &__text {
      grid-column: 1 / 2;

      p {
        width: 75%;
      }
    }
  }

  .navigation {
    &__icon {
      display: none;

      grid-column: 2 / 3;
      justify-self: end;
      align-self: center;

      font-size: 3.2rem;
    }

    &__list__container {
      display: block !important;
      grid-column: 2 / 3;
    }
  }

  // Skills
  .skills {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__list {
      grid-template-columns: repeat(4, 12rem) !important;
      gap: 3rem 2.4rem;
    }

    &__item {
      img {
        height: 6.4rem !important;
        width: 6.4rem I !important;
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .reading {
      display: block;
    }
  }

  // Carousel
  .projects {
    p {
      width: 50% !important;
    }

    .carousel {
      position: relative;

      height: 80vh;
      margin: 0 auto;
      width: 90%;

      &__container {
        transition: transform 250ms ease-in;
        width: 92.5%;
      }

      &__slide {
        margin-top: 0;
      }

      // Absolute to the carousel element (left and right)
      &__btn {
        &--left {
          display: inline-block;
          left: -3.2rem;
        }

        &--right {
          display: inline-block;
          right: -3.2rem;
        }
      }

      // &__nav {
      //   display: none;
      // }
    }
  }
}
