@media (min-width: 768px) {
  .navigation__icon {
    grid-column: 2/3;
    justify-self: end;
    align-self: center;
    font-size: 3.2rem;
  }
  .navigation__list__container {
    grid-column: 2/3;
  }

  .skills {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  }
  .skills__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .skills__container .col__2 {
    display: none;
  }
  .skills__list {
    grid-template-columns: repeat(4, 12rem) !important;
    gap: 3rem 2.4rem;
  }
  .skills__item img {
    height: 6.4rem !important;
    width: 6.4rem I !important;
  }
  .skills__img {
    height: 100%;
    width: 100%;
  }
  .skills__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .skills .reading {
    display: block;
  }

  .projects p {
    width: 50% !important;
  }
  .projects .carousel {
    position: relative;
    margin: 0 auto;
    height: 30vh;
    width: 90%;
  }
  .projects .carousel__container {
    transition: transform 250ms ease-in;
    width: 92.5%;
  }
  .projects .carousel__slide {
    margin-top: 0;
  }
  .projects .carousel__btn--left {
    display: inline-block;
    left: -5rem;
  }
  .projects .carousel__btn--right {
    display: inline-block;
    right: -5rem;
  }

  .image__gallery {
    display: grid;
    justify-content: space-between;
    gap: 3.2rem;
  }
  .image .proj--1 {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
  }
  .image .proj--3 {
    grid-column: 3/span 1;
    grid-row: 1/span 2;
  }
  .image .proj--5 {
    grid-row: 3/span 1;
    grid-column: 1/span 1;
  }
  .image .proj--6 {
    grid-row: 2/span 2;
    grid-column: 2/span 1;
    object-fit: fill;
  }
  .image .proj--8 {
    grid-row: 2/span 2;
  }
  .image p {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .header__contents {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__hero {
    grid-column: 2/3;
  }
  .header__hero.desktop__img {
    display: block;
    opacity: 1;
  }
  .header__hero.mobile__img {
    display: none;
    opacity: 0;
  }
  .header__text {
    grid-column: 1/2;
  }
  .header__text p {
    width: 75%;
  }

  .navigation__icon {
    display: none;
  }
  .navigation__list__container {
    display: block !important;
  }

  .skills__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__container .col__2 {
    display: block;
  }

  .projects .carousel {
    height: 80vh !important;
    max-height: 80rem;
  }
  .projects .carousel__btn--left {
    display: inline-block;
    left: -3.2rem !important;
  }
  .projects .carousel__btn--right {
    display: inline-block;
    right: -3.2rem !important;
  }

  .contact {
    flex-direction: row !important;
    gap: 8rem;
  }
  .contact .col--1,
.contact .col--2 {
    display: block !important;
    width: 50%;
  }
}
:root {
  --mainBackgroundColor: #f2f2f2;
  --primaryColor: #4200ff;
  --primaryText: #413663;
  --colorWhite: #f2f1f4;
  --logoColor: #8e1c58;
  --gray: #b8b8b8;
  --indicatorBg: #c0c0c0;
  --lightGrayBg: #dddddd;
  --darkGrayBg: #bbbbbb;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--mainBackgroundColor);
  color: var(--primaryText);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  user-select: none;
}
body p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.headings {
  font-size: clamp(3.4rem, 4vw, 4.8rem);
  font-weight: 900;
  line-height: 1.2;
}

.mt--xs {
  margin-top: 8px;
}

.ml--xs {
  margin-left: 8px;
}

.mb--sm {
  margin-bottom: 1.2rem;
}
.mb--base {
  margin-bottom: 1.6rem;
}
.mb--md {
  margin-bottom: 2.4rem;
}
.mb--lg {
  margin-bottom: 3.2rem;
}

.w-50 {
  width: 50%;
}

.detail {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.icon__img {
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1em 2em;
}
.btn--primary {
  box-shadow: 0 0.5em 1em rgba(66, 0, 255, 0.3);
  background-color: #7600ff;
  color: var(--colorWhite);
  transition: background-color 400ms ease-in-out;
}
.btn--primary:hover {
  background-color: #4200ff;
}
.btn--secondary {
  border: 1px solid var(--primaryText);
  border-radius: 4px;
  padding: 8px 1.6rem;
  transition: background-color 350ms ease-in-out;
}
.btn--secondary:hover {
  background-color: var(--primaryColor);
}

.container__top {
  position: fixed;
  top: 80%;
  right: 5%;
  z-index: 200;
  display: none;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
}
.container__top .icon {
  background-color: #605091;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.container__top i {
  color: var(--mainBackgroundColor);
  font-size: 2.4rem;
}
.container__top.active {
  display: block;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2.4rem;
}
.navigation__logo {
  color: var(--logoColor);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navigation__icon {
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  cursor: pointer;
  font-size: 3.2rem;
}
.navigation__list__container {
  display: none;
  grid-column: 2/3;
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.navigation__item {
  list-style: none;
}
.navigation__link {
  padding: 1rem 2rem;
  color: currentColor;
  font-size: 1.6rem;
  text-decoration: none;
}
.navigation__link:hover {
  border-bottom: 2px solid #4200ff;
}
.navigation__link:hover.btn--secondary {
  color: var(--mainBackgroundColor);
}

.projects {
  padding-block: min(15vh, 6rem);
  margin: 0 auto;
  width: 120rem;
  max-width: 90%;
}
.projects p {
  width: 80%;
}

.carousel {
  position: relative;
  height: 28rem;
}
.carousel__container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.carousel__list {
  position: relative;
  list-style: none;
  height: 100%;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 2.4rem;
  width: 100%;
}
.carousel__img {
  border: 1px solid var(--gray);
  object-fit: cover;
  object-position: top left;
  height: 100%;
  width: 100%;
}
.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--darkGrayBg);
  color: var(--primaryText);
  font-size: 3.2rem;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1.6rem 0;
  min-height: 14rem;
  min-width: 6rem;
}
.carousel__btn--disabled {
  color: var(--gray);
  background-color: var(--lightGrayBg);
}
.carousel__btn--left {
  display: none;
}
.carousel__btn--right {
  display: none;
}
.carousel__counter {
  position: absolute;
  top: 80%;
  left: 1.6rem;
  transform: translateY(-80%);
  color: #504d4d;
  font-size: 1.4rem;
}
.carousel__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.carousel__indicator {
  background-color: var(--indicatorBg);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 1.2rem;
  height: 2rem;
  width: 2rem;
}
.carousel__indicator.active {
  background-color: var(--primaryText);
}

.contact {
  margin: 4rem auto;
  width: 120rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
.contact__contents {
  padding: 4rem 0;
}
.contact .col--2 {
  display: none;
  overflow: hidden;
}
.contact .col--2 img {
  object-fit: cover;
  margin-left: 8rem;
  height: 100%;
  width: 100%;
}
.contact__social {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.contact__item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
}
.contact__item a {
  color: var(--primaryColor);
}

.header {
  margin: 0 auto;
  width: 120rem;
  max-width: 90%;
}
.header__contents {
  display: grid;
  padding: 4rem 0;
  min-height: 600px;
}
.header__hero {
  grid-row: 1/2;
  overflow: hidden;
  display: none;
}
.header__hero.mobile__img {
  display: inline-block;
}
.header__hero .hero__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.25);
}
.header__text {
  padding-block: 4rem;
}
.header__text p {
  max-width: 100%;
}

.skills {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  scroll-margin: 6rem;
}
.skills__container {
  display: grid;
  padding-block: min(15vh, 12rem);
  margin: 0 auto;
  width: 120rem;
  max-width: 90%;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 9rem);
  gap: 3rem;
}
.skills__list img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.skills__item {
  box-shadow: 0 8px 16px rgba(65, 54, 99, 0.2);
  background-color: var(--mainBackgroundColor);
  border-radius: 6px;
  padding: 2rem;
  text-align: center;
}
.skills__img {
  height: 100%;
  width: 100%;
}
.skills__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.reading {
  display: none;
}

.image {
  background-image: linear-gradient(to right top, #4200ff, #7c00e9, #9900d5, #ac00c2, #b700b1);
  color: var(--colorWhite);
  padding-block: min(15vh, 6rem);
  margin: 8rem 0 4rem 0;
}
.image .detail__text {
  display: inline-block;
  background-color: var(--colorWhite);
  color: var(--primaryText);
  clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
  padding: 8px 32px;
}
.image__contents {
  margin: 0 auto;
  width: 120rem;
  max-width: 90%;
}
.image__gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr) !important;
  grid-template-rows: repeat(1, 1fr) !important;
  gap: 2.4rem;
}
.image__gallery img {
  box-shadow: 0 0.8rem 1.6rem rgba(34, 34, 34, 0.4);
  border-radius: 0.8rem;
  cursor: pointer;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.imgBlock {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.imgBlock::before {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.imgBlock .img {
  transition: transform 400ms ease-in-out;
}
.imgBlock a > .msg {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainBackgroundColor);
  font-size: 1.8rem;
  font-weight: 500;
  height: 100%;
  width: 100%;
  z-index: 500;
}
.imgBlock a:hover > .msg {
  opacity: 1;
}
.imgBlock a:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: rgba(119, 54, 255, 0.75);
  height: 100%;
  width: 100%;
}
.imgBlock a:hover > .img {
  transform: scale(1.15);
}
