.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;

  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1em 2em;

  &--primary {
    box-shadow: 0 0.5em 1em rgba(66, 0, 255, 0.3);
    // background-image: linear-gradient(
    //   to right bottom,
    //   #9900ff,
    //   #8800ff,
    //   #7600ff,
    //   #5f00ff,
    //   #4200ff
    // );
    background-color: #7600ff;
    color: var(--colorWhite);
    transition: background-color 400ms ease-in-out;

    &:hover {
      background-color: #4200ff;
    }
  }

  &--secondary {
    border: 1px solid var(--primaryText);
    border-radius: 4px;
    padding: 8px 1.6rem;

    transition: background-color 350ms ease-in-out;

    &:hover {
      background-color: var(--primaryColor);
    }
  }
}

// BACK TO TOP
.container__top {
  position: fixed;
  top: 80%;
  right: 5%;
  z-index: 200;

  display: none;
  cursor: pointer;
  height: 6rem;
  width: 6rem;

  .icon {
    background-color: hsl(255, 29%, 44%);
    // background-color: var(--primaryText);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  i {
    color: var(--mainBackgroundColor);
    font-size: 2.4rem;
  }

  &.active {
    display: block;
  }
}
