.projects {
  padding-block: min(15vh, 6rem);

  margin: 0 auto;
  width: 120rem;
  max-width: 90%;

  scroll-margin: 8rem;

  p {
    width: 80%;
  }
}

.carousel {
  position: relative;
  height: 28rem;

  &__container {
    // Relative to the carousel element
    position: relative;
    overflow: hidden;

    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  &__list {
    // Relative to the carousel__container
    position: relative;
    list-style: none;
    height: 100%;
  }

  &__slide {
    // Stack images on top of each other
    // Absolute to the carousel__list
    position: absolute;
    top: 0;
    bottom: 0;

    margin-top: 2.4rem;
    width: 100%;
  }

  &__img {
    border: 1px solid var(--gray);
    object-fit: cover;
    object-position: top left;
    height: 100%;
    width: 100%;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--darkGrayBg);
    color: var(--primaryText);
    font-size: 3.2rem;
    text-align: center;

    cursor: pointer;
    border: none;
    outline: none;

    padding: 1.6rem 0;
    min-height: 14rem;
    min-width: 6rem;

    &--disabled {
      color: var(--gray);
      background-color: var(--lightGrayBg);
    }

    &--left {
      display: none;
    }

    &--right {
      display: none;
    }
  }

  // Absolute to the carousel__btn
  &__counter {
    position: absolute;
    top: 80%;
    left: 1.6rem;
    transform: translateY(-80%);

    color: rgb(80, 77, 77);
    font-size: 1.4rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }

  &__indicator {
    background-color: var(--indicatorBg);
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    margin-top: 1.2rem;
    height: 2rem;
    width: 2rem;

    &.active {
      background-color: var(--primaryText);
    }
  }
}
